body {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.text-box {
    width: 100%;
    padding: 0px 30px 0px 30px;
    box-sizing: border-box;

}

textarea {
    width: 100%;
    height: 100px;
    text-indent: 4px;
    border-radius: 3px;
    outline: none;
}

.voice-box {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}


select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    outline: none;
}

button {
    width: 90%;
    height: 35px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 3px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid black;
}